@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
DESKTOP-FIRST APPROCH

0 - 600px : mobile;
600px - 900px : tablet portrait
900 to 1200 : tablet landscape
1200 t0 1800 : Normal styles DESKTOP APPROCH
1800+ : Big Desktops

breakpoints -> 
phone
tab-port
tab-land
big-desktop

USInG EM in media queries is considered to be good prectice

ORDER : base + typography > general layout + grid > page layouts > components

*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    // 1em = 16px so 600px / 16 = 37.5em
    //600px
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint==tab-port {
    // 1 em is 16px so 900px / 16px is
    //900px
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint==tab-land {
    // 1 em is 16px so 1200px / 16px is
    //1200px
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    //1800px
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
